/* COLOR INFORMATION WHILE IN PROXY CONTEXT 
 * Any rules here overrule the rules defined in inside.css/colors.css
 * when the site is viewed in a proxy context. 
 */
 
/* USER DEFINED TABS COLORS
 * If change tab colors in this file, also update DisplayConfig.xml for color names and ProxyTabs.png to match. 
 */

/* color1 light brown*/
ul#proxyTabs li.color1        {background-position:  0     0  ;} 
ul#proxyTabs li.color1 a      {background-position:100%    0  ;}
ul#proxyTabs li.color1.curr   {background-position:  0  -315px;}
ul#proxyTabs li.color1.curr a {background-position:100% -315px;}

.menuontop ul#proxyTabs li.color1:hover        {background-position:   0   0;}
.menuontop ul#proxyTabs li.color1              {background-position:  -5px 0;}
.menuontop ul#proxyTabs li.color1:hover:before {background-position: -93px 0;}
.menuontop ul#proxyTabs li.color1:before       {background-position: -98px 0;}
.menuontop ul#proxyTabs li.color1:hover:after  {background-position:-186px 0;}
.menuontop ul#proxyTabs li.color1:after        {background-position:-191px 0;}
.menuontop ul#proxyTabs li.color1.curr         {background-position:-279px 0;}
.menuontop ul#proxyTabs li.color1.curr:before  {background-position:-372px 0;}
.menuontop ul#proxyTabs li.color1.curr:after   {background-position:-465px 0;}

.menuontop.color1 #menu .menugroup:after           {background-position:   0      0  ;}
.menuontop.color1 #menu .menugroup                 {background-position: -38px    0  ;}
.menuontop.color1 #menu .menugroup:before          {background-position:   0    -55px;}
.menuontop.color1 #menu .menugroup.selected:after,
.menuontop.color1 #menu .richdisplay:hover:after   {background-position:   0   -110px;}
.menuontop.color1 #menu .menugroup.selected,
.menuontop.color1 #menu .richdisplay:hover         {background-position: -38px -110px;}
.menuontop.color1 #menu .menugroup.selected:before,
.menuontop.color1 #menu .richdisplay:hover:before  {background-position:   0   -165px;}


ul#proxyTabs li.color1,
ul#proxyTabs li.color1 a,
ul#proxyTabs li #moretabs a.color1,
.menuontop ul#proxyTabs #moretabs a.color1,
.menuontop ul#proxyTabs .color1 .moresuffix,
.color1 #menuheader {
  color:#594727;
}

ul#proxyTabs li #moretabs a.color1,
.menuontop ul#proxyTabs li #moretabs a.color1,
img.photo.color1,
.colorprev.color1 {
  background-color: #E8D0A5;
}

.menuontop ul#proxyTabs li.color1 a {
  background-color: #C89030;
}

/* color2 green*/
ul#proxyTabs li.color2        {background-position:  0   -45px;}
ul#proxyTabs li.color2 a      {background-position:100%  -45px;}
ul#proxyTabs li.color2.curr   {background-position:  0  -360px;}
ul#proxyTabs li.color2.curr a {background-position:100% -360px;}

.menuontop ul#proxyTabs li.color2:hover        {background-position: -558px 0;}
.menuontop ul#proxyTabs li.color2              {background-position: -563px 0;}
.menuontop ul#proxyTabs li.color2:hover:before {background-position: -651px 0;}
.menuontop ul#proxyTabs li.color2:before       {background-position: -656px 0;}
.menuontop ul#proxyTabs li.color2:hover:after  {background-position: -744px 0;}
.menuontop ul#proxyTabs li.color2:after        {background-position: -749px 0;}
.menuontop ul#proxyTabs li.color2.curr         {background-position: -837px 0;}
.menuontop ul#proxyTabs li.color2.curr:before  {background-position: -930px 0;}
.menuontop ul#proxyTabs li.color2.curr:after   {background-position:-1023px 0;}

.menuontop.color2 #menu .menugroup:after           {background-position:   0   -220px;}
.menuontop.color2 #menu .menugroup                 {background-position: -38px -220px;}
.menuontop.color2 #menu .menugroup:before          {background-position:   0   -275px;}
.menuontop.color2 #menu .menugroup.selected:after,
.menuontop.color2 #menu .richdisplay:hover:after   {background-position:   0   -330px;}
.menuontop.color2 #menu .menugroup.selected,
.menuontop.color2 #menu .richdisplay:hover         {background-position: -38px -330px;}
.menuontop.color2 #menu .menugroup.selected:before,
.menuontop.color2 #menu .richdisplay:hover:before  {background-position:   0   -385px;}


ul#proxyTabs li.color2,
ul#proxyTabs li.color2 a,
ul#proxyTabs li #moretabs a.color2,
.menuontop ul#proxyTabs #moretabs a.color2,
.menuontop ul#proxyTabs .color2 .moresuffix,
.color2 #menuheader {
  color:#0B2F00;
}

ul#proxyTabs li #moretabs a.color2,
.menuontop ul#proxyTabs li #moretabs a.color2,
img.photo.color2,
.colorprev.color2 {
  background-color: #CAE2C0;
}

.menuontop ul#proxyTabs li.color2 a {
  background-color: #50A033;
}

/* color3 purple*/
ul#proxyTabs li.color3        {background-position:  0   -90px;}
ul#proxyTabs li.color3 a      {background-position:100%  -90px;}
ul#proxyTabs li.color3.curr   {background-position:  0  -405px;}
ul#proxyTabs li.color3.curr a {background-position:100% -405px;}

.menuontop ul#proxyTabs li.color3:hover        {background-position:-1116px 0;}
.menuontop ul#proxyTabs li.color3              {background-position:-1121px 0;}
.menuontop ul#proxyTabs li.color3:hover:before {background-position:-1209px 0;}
.menuontop ul#proxyTabs li.color3:before       {background-position:-1214px 0;}
.menuontop ul#proxyTabs li.color3:hover:after  {background-position:-1302px 0;}
.menuontop ul#proxyTabs li.color3:after        {background-position:-1307px 0;}
.menuontop ul#proxyTabs li.color3.curr         {background-position:-1395px 0;}
.menuontop ul#proxyTabs li.color3.curr:before  {background-position:-1488px 0;}
.menuontop ul#proxyTabs li.color3.curr:after   {background-position:-1581px 0;}

.menuontop.color3 #menu .menugroup:after           {background-position:   0   -440px;}
.menuontop.color3 #menu .menugroup                 {background-position: -38px -440px;}
.menuontop.color3 #menu .menugroup:before          {background-position:   0   -495px;}
.menuontop.color3 #menu .menugroup.selected:after,
.menuontop.color3 #menu .richdisplay:hover:after   {background-position:   0   -550px;}
.menuontop.color3 #menu .menugroup.selected,
.menuontop.color3 #menu .richdisplay:hover         {background-position: -38px -550px;}
.menuontop.color3 #menu .menugroup.selected:before,
.menuontop.color3 #menu .richdisplay:hover:before  {background-position:   0   -605px;}


ul#proxyTabs li.color3,
ul#proxyTabs li.color3 a,
ul#proxyTabs li #moretabs a.color3,
.menuontop ul#proxyTabs #moretabs a.color3,
.menuontop ul#proxyTabs .color3 .moresuffix,
.color3 #menuheader {
  color:#3C2859;
}

ul#proxyTabs li #moretabs a.color3,
.menuontop ul#proxyTabs li #moretabs a.color3,
img.photo.color3,
.colorprev.color3 {
  background-color: #D8CAEC;
}

.menuontop ul#proxyTabs li.color3 a {
  background-color: #8152C1;
}

/* color4 teal*/
ul#proxyTabs li.color4        {background-position:  0  -135px;}
ul#proxyTabs li.color4 a      {background-position:100% -135px;}
ul#proxyTabs li.color4.curr   {background-position:  0  -450px;}
ul#proxyTabs li.color4.curr a {background-position:100% -450px;}

.menuontop ul#proxyTabs li.color4:hover        {background-position:-1674px 0;}
.menuontop ul#proxyTabs li.color4              {background-position:-1679px 0;}
.menuontop ul#proxyTabs li.color4:hover:before {background-position:-1767px 0;}
.menuontop ul#proxyTabs li.color4:before       {background-position:-1772px 0;}
.menuontop ul#proxyTabs li.color4:hover:after  {background-position:-1860px 0;}
.menuontop ul#proxyTabs li.color4:after        {background-position:-1865px 0;}
.menuontop ul#proxyTabs li.color4.curr         {background-position:-1953px 0;}
.menuontop ul#proxyTabs li.color4.curr:before  {background-position:-2046px 0;}
.menuontop ul#proxyTabs li.color4.curr:after   {background-position:-2139px 0;}

.menuontop.color4 #menu .menugroup:after           {background-position:   0   -660px;}
.menuontop.color4 #menu .menugroup                 {background-position: -38px -660px;}
.menuontop.color4 #menu .menugroup:before          {background-position:   0   -715px;}
.menuontop.color4 #menu .menugroup.selected:after,
.menuontop.color4 #menu .richdisplay:hover:after   {background-position:   0   -770px;}
.menuontop.color4 #menu .menugroup.selected,
.menuontop.color4 #menu .richdisplay:hover         {background-position: -38px -770px;}
.menuontop.color4 #menu .menugroup.selected:before,
.menuontop.color4 #menu .richdisplay:hover:before  {background-position:   0   -825px;}


ul#proxyTabs li.color4,
ul#proxyTabs li.color4 a,
ul#proxyTabs li #moretabs a.color4,
.menuontop ul#proxyTabs #moretabs a.color4,
.menuontop ul#proxyTabs .color4 .moresuffix,
.color4 #menuheader {
  color:#012923;
}

ul#proxyTabs li #moretabs a.color4,
.menuontop ul#proxyTabs li #moretabs a.color4,
img.photo.color4,
.colorprev.color4 {
  background-color: #ABD6DF;
}

.menuontop ul#proxyTabs li.color4 a {
  background-color: #027D9A;
}

/* color5 pink*/
ul#proxyTabs li.color5        {background-position:  0  -180px;}
ul#proxyTabs li.color5 a      {background-position:100% -180px;}
ul#proxyTabs li.color5.curr   {background-position:  0  -495px;}
ul#proxyTabs li.color5.curr a {background-position:100% -495px;}

.menuontop ul#proxyTabs li.color5:hover        {background-position:-2232px 0;}
.menuontop ul#proxyTabs li.color5              {background-position:-2237px 0;}
.menuontop ul#proxyTabs li.color5:hover:before {background-position:-2325px 0;}
.menuontop ul#proxyTabs li.color5:before       {background-position:-2330px 0;}
.menuontop ul#proxyTabs li.color5:hover:after  {background-position:-2418px 0;}
.menuontop ul#proxyTabs li.color5:after        {background-position:-2423px 0;}
.menuontop ul#proxyTabs li.color5.curr         {background-position:-2511px 0;}
.menuontop ul#proxyTabs li.color5.curr:before  {background-position:-2604px 0;}
.menuontop ul#proxyTabs li.color5.curr:after   {background-position:-2697px 0;}

.menuontop.color5 #menu .menugroup:after           {background-position:   0    -880px;}
.menuontop.color5 #menu .menugroup                 {background-position: -38px  -880px;}
.menuontop.color5 #menu .menugroup:before          {background-position:   0    -935px;}
.menuontop.color5 #menu .menugroup.selected:after,
.menuontop.color5 #menu .richdisplay:hover:after   {background-position:   0    -990px;}
.menuontop.color5 #menu .menugroup.selected,
.menuontop.color5 #menu .richdisplay:hover         {background-position: -38px  -990px;}
.menuontop.color5 #menu .menugroup.selected:before,
.menuontop.color5 #menu .richdisplay:hover:before  {background-position:   0   -1045px;}


ul#proxyTabs li.color5,
ul#proxyTabs li.color5 a,
ul#proxyTabs li #moretabs a.color5,
.menuontop ul#proxyTabs #moretabs a.color5,
.menuontop ul#proxyTabs .color5 .moresuffix,
.color5 #menuheader {
  color:#472D4A;
}

ul#proxyTabs li #moretabs a.color5,
.menuontop ul#proxyTabs li #moretabs a.color5,
img.photo.color5,
.colorprev.color5 {
  background-color: #F3D3F9;
}

.menuontop ul#proxyTabs li.color5 a {
  background-color: #D976EB;
}

/* color6 orange*/
ul#proxyTabs li.color6        {background-position:  0  -225px;}
ul#proxyTabs li.color6 a      {background-position:100% -225px;}
ul#proxyTabs li.color6.curr   {background-position:  0  -540px;}
ul#proxyTabs li.color6.curr a {background-position:100% -540px;}

.menuontop ul#proxyTabs li.color6:hover        {background-position:-2790px 0;}
.menuontop ul#proxyTabs li.color6              {background-position:-2795px 0;}
.menuontop ul#proxyTabs li.color6:hover:before {background-position:-2883px 0;}
.menuontop ul#proxyTabs li.color6:before       {background-position:-2888px 0;}
.menuontop ul#proxyTabs li.color6:hover:after  {background-position:-2976px 0;}
.menuontop ul#proxyTabs li.color6:after        {background-position:-2981px 0;}
.menuontop ul#proxyTabs li.color6.curr         {background-position:-3069px 0;}
.menuontop ul#proxyTabs li.color6.curr:before  {background-position:-3162px 0;}
.menuontop ul#proxyTabs li.color6.curr:after   {background-position:-3255px 0;}

.menuontop.color6 #menu .menugroup:after           {background-position:   0   -1100px;}
.menuontop.color6 #menu .menugroup                 {background-position: -38px -1100px;}
.menuontop.color6 #menu .menugroup:before          {background-position:   0   -1155px;}
.menuontop.color6 #menu .menugroup.selected:after,
.menuontop.color6 #menu .richdisplay:hover:after   {background-position:   0   -1210px;}
.menuontop.color6 #menu .menugroup.selected,
.menuontop.color6 #menu .richdisplay:hover         {background-position: -38px -1210px;}
.menuontop.color6 #menu .menugroup.selected:before,
.menuontop.color6 #menu .richdisplay:hover:before  {background-position:   0   -1265px;}


ul#proxyTabs li.color6,
ul#proxyTabs li.color6 a,
ul#proxyTabs li #moretabs a.color6,
.menuontop ul#proxyTabs #moretabs a.color6,
.menuontop ul#proxyTabs .color6 .moresuffix,
.color6 #menuheader {
  color:#753E07;
}

ul#proxyTabs li #moretabs a.color6,
.menuontop ul#proxyTabs li #moretabs a.color6,
img.photo.color6,
.colorprev.color6 {
  background-color: #FAC28E;
}

.menuontop ul#proxyTabs li.color6 a {
  background-color: #EE4004;
}

/* color7 blue*/
ul#proxyTabs li.color7        {background-position:  0  -270px;}
ul#proxyTabs li.color7 a      {background-position:100% -270px;}
ul#proxyTabs li.color7.curr   {background-position:  0  -585px;}
ul#proxyTabs li.color7.curr a {background-position:100% -585px;}

.menuontop ul#proxyTabs li.color7:hover        {background-position:-3348px 0;}
.menuontop ul#proxyTabs li.color7              {background-position:-3353px 0;}
.menuontop ul#proxyTabs li.color7:hover:before {background-position:-3441px 0;}
.menuontop ul#proxyTabs li.color7:before       {background-position:-3446px 0;}
.menuontop ul#proxyTabs li.color7:hover:after  {background-position:-3534px 0;}
.menuontop ul#proxyTabs li.color7:after        {background-position:-3539px 0;}
.menuontop ul#proxyTabs li.color7.curr         {background-position:-3627px 0;}
.menuontop ul#proxyTabs li.color7.curr:before  {background-position:-3720px 0;}
.menuontop ul#proxyTabs li.color7.curr:after   {background-position:-3813px 0;}

.menuontop.color7 #menu .menugroup:after           {background-position:   0   -1320px;}
.menuontop.color7 #menu .menugroup                 {background-position: -38px -1320px;}
.menuontop.color7 #menu .menugroup:before          {background-position:   0   -1375px;}
.menuontop.color7 #menu .menugroup.selected:after,
.menuontop.color7 #menu .richdisplay:hover:after   {background-position:   0   -1430px;}
.menuontop.color7 #menu .menugroup.selected,
.menuontop.color7 #menu .richdisplay:hover         {background-position: -38px -1430px;}
.menuontop.color7 #menu .menugroup.selected:before,
.menuontop.color7 #menu .richdisplay:hover:before  {background-position:   0   -1485px;}


ul#proxyTabs li.color7,
ul#proxyTabs li.color7 a,
ul#proxyTabs li #moretabs a.color7,
.menuontop ul#proxyTabs #moretabs a.color7,
.menuontop ul#proxyTabs .color7 .moresuffix,
.color7 #menuheader {
  color:#104373;
}

ul#proxyTabs li #moretabs a.color7,
.menuontop ul#proxyTabs li #moretabs a.color7,
img.photo.color7,
.colorprev.color7 {
  background-color: #C5D9F5;
}

.menuontop ul#proxyTabs li.color7 a {
  background-color: #387CD9;
}

/* config icon*/
ul#proxyTabs li.config     {color:#666666; background-image:none;}
ul#proxyTabs li.config a   {color:#666666; background-image:none;}
ul#proxyTabs li.config img,
ul#proxyTabs li.config img:hover {height: 35px; width: auto;vertical-align:top;} 
ul#proxyTabs li.config img:hover {
       -ms-transform:rotate(10deg);
   -webkit-transform:rotate(10deg);
           transform:rotate(10deg);
          
  -webkit-transition: transform 0.2s;
          transition: transform 0.2s;
} 
 
#proxyprefsuccessmessage {		
	color: green;	
}

/*  WHEAT */
  
  .color1 #wrap,
  .color1 #wrap:before,
  .color1 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color1.png");
  }
  body.menuontop.color1,
  body.menuontop.color1 #blftwrapper
  {
    background-image: url("../images/bg_folder_color1.png");
  }  
  
  .color1 #wrap #menu .button:hover
  {
    background-color: #EFEAE1;
  }
  
  .color1 #wrap #menu h2,
  .color1 #wrap #menu h3,
  .color1 #wrap #menu .header,
  .color1 #wrap #menu .subheader,
  .color1 #wrap #menu .mnutitle a,
  .color1 #wrap #menu li a,
  .color1 #wrap #menu .button,
  .color1 #wrap .subjectIndicator,
  .color1 #wrap #menu .moremenu,
  .color1 #wrap #menu .moremenu a,
  #menuheader
  {
    color:#41341D;
  }
 
/* DEFAULT OVERRIDE / GREEN ***************************************************/
  
  .color2 #wrap,
  .color2 #wrap:before,
  .color2 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color2.png");
  }
  body.menuontop.color2,
  body.menuontop.color2 #blftwrapper
  {
    background-image: url("../images/bg_folder_color2.png");
  }
  .menuontop.color2 #main:before
  {
    background-position:-986px 0;
  }
    
  .color2 #wrap #menu .button  
  {
    background-color: #C7DAC8;
  }
  
  .color2 #wrap #menu .button:hover
  {
    background-color: #D9E6D9;
  }
  
  .color2 #wrap #menu h2,
  .color2 #wrap #menu h3,
  .color2 #wrap #menu .header,
  .color2 #wrap #menu .subheader,
  .color2 #wrap #menu .mnutitle a,
  .color2 #wrap #menu li a,
  .color2 #wrap #menu .button,
  .color2 #wrap .subjectIndicator,
  .color2 #wrap #menu .moremenu,
  .color2 #wrap #menu .moremenu a
  {
    color:#0B2F00;
  }
  




/* PURPLE *********************************************************************/

  .color3 #wrap,
  .color3 #wrap:before,
  .color3 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color3.png");
  }
  body.menuontop.color3,
  body.menuontop.color3 #blftwrapper
  {
    background-image: url("../images/bg_folder_color3.png");
  }
  .menuontop.color3 #main:before
  {
    background-position:-1972px 0;
  }
  
  .color3 #wrap #menu .button
  {
    background-color: #CDC5D9;
  }
  
  .color3 #wrap #menu .button:hover
  {
    background-color: #DBD7E1;
  }
  
  .color3 #wrap #menu h2,
  .color3 #wrap #menu h3,
  .color3 #wrap #menu .header,
  .color3 #wrap #menu .subheader,
  .color3 #wrap #menu .mnutitle a,
  .color3 #wrap #menu li a,
  .color3 #wrap #menu .button,
  .color3 #wrap .subjectIndicator,
  .color3 #wrap #menu .moremenu,
  .color3 #wrap #menu .moremenu a
  {
    color:#3C2859;
  }

/* TEAL ***********************************************************************/

  .color4 #wrap,
  .color4 #wrap:before,
  .color4 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color4.png");
  }
  body.menuontop.color4,
  body.menuontop.color4 #blftwrapper
  {
    background-image: url("../images/bg_folder_color4.png");
  }
  .menuontop.color4 #main:before
  {
    background-position:-2958px 0;
  }
  
  .color4 #wrap #menu .button
  {
    background-color: #B5CCCC;
  }
  
  .color4 #wrap #menu .button:hover
  {
    background-color: #CCDBDB;
  }
  
  .color4 #wrap #menu h2,
  .color4 #wrap #menu h3,
  .color4 #wrap #menu .header,
  .color4 #wrap #menu .subheader,
  .color4 #wrap #menu .mnutitle a,
  .color4 #wrap #menu li a,
  .color4 #wrap #menu .button,
  .color4 #wrap .subjectIndicator,
  .color4 #wrap #menu .moremenu,
  .color4 #wrap #menu .moremenu a
  {
    color:#012923;
  }

/* PINK *********************************************************************/

  .color5 #wrap,
  .color5 #wrap:before,
  .color5 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color5.png");
  }
  body.menuontop.color5,
  body.menuontop.color5 #blftwrapper
  {
    background-image: url("../images/bg_folder_color5.png");
  }
  .menuontop.color5 #main:before
  {
    background-position:-3944px 0;
  }
  
  .color5 #wrap #menu .button
  {
    background-color: #F3E8F4;
  }
  
  .color5 #wrap #menu .button:hover
  {
    background-color: #FDFBFD;
  }
  
  .color5 #wrap #menu h2,
  .color5 #wrap #menu h3,
  .color5 #wrap #menu .header,
  .color5 #wrap #menu .subheader,
  .color5 #wrap #menu .mnutitle a,
  .color5 #wrap #menu li a,
  .color5 #wrap #menu .button,
  .color5 #wrap .subjectIndicator,
  .color5 #wrap #menu .moremenu,
  .color5 #wrap #menu .moremenu a
  {
    color:#472D4A;
  }

/* ORANGE *********************************************************************/

  .color6 #wrap,
  .color6 #wrap:before,
  .color6 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color6.png");
  }
  body.menuontop.color6,
  body.menuontop.color6 #blftwrapper
  {
    background-image: url("../images/bg_folder_color6.png");
  }
  .menuontop.color6 #main:before
  {
    background-position:-4930px 0;
  }
  
  .color6 #wrap #menu .button
  {
    background-color: #F9E1BF;
  }
  
  .color6 #wrap #menu .button:hover
  {
    background-color: #FEEBD6;
  }
  
  .color6 #wrap #menu h2,
  .color6 #wrap #menu h3,
  .color6 #wrap #menu .header,
  .color6 #wrap #menu .subheader,
  .color6 #wrap #menu .mnutitle a,
  .color6 #wrap #menu li a,
  .color6 #wrap #menu .button,
  .color6 #wrap .subjectIndicator,
  .color6 #wrap #menu .moremenu,
  .color6 #wrap #menu .moremenu a
  {
    color:#753E07;
  }

/* BLUE *********************************************************************/

  .color7 #wrap,
  .color7 #wrap:before,
  .color7 #wrap:after /*skeuo*/
  {
    background-image: url("../images/bg_landscapefolder_color7.png");
  }
  body.menuontop.color7,
  body.menuontop.color7 #blftwrapper
  {
    background-image: url("../images/bg_folder_color7.png");
  }
  .menuontop.color7 #main:before
  {
    background-position:-5916px 0;
  }
  
  .color7 #wrap #menu .button
  {
    background-color: #CDDCEB;
  }
  
  .color7 #wrap #menu .button:hover
  {
    background-color: #E6EEF7;
  }
  
  .color7 #wrap #menu h2,
  .color7 #wrap #menu h3,
  .color7 #wrap #menu .header,
  .color7 #wrap #menu .subheader,
  .color7 #wrap #menu .mnutitle a,
  .color7 #wrap #menu li a,
  .color7 #wrap #menu .button,
  .color7 #wrap .subjectIndicator,
  .color7 #wrap #menu .moremenu,
  .color7 #wrap #menu .moremenu a
  {
    color:#104373;
  }