/*COLOR INFORMATION*/


/* THINGS THAT ARE SHADES OF BLUE ******************/

	a.button,
	input.button,
	.uploader div.button,
	.button.disabled:hover,
	#wrap a.navbar,
	#banner h2,
	.back a.button,
	#calendar table,
	#pagecalendar,
	#calendar table td.hdr,
	#calendar table td.ctrl,
	.section .content .iconcalendar th,
	.section .content .iconcalendar th.nav:hover,
	.titlebar,
	.innernavparent .flyoutprompt,
	.innernavparent .flyoutitem:hover
	{
/*		background-color: #1B6DD1; */
		background-color: #A4E27B;
		border-color: #CFF3B7 #67AF62 #67AF62 #CFF3B7;
		color: #0D682D;
		font-size: 11px;
		font-weight: bold;
		font-family: Verdana;
	}

	.messagebox .titlebar {
	
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZiOTBjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNjODllMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI4ODBlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzQzOTBlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjdhYWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #6b90cf 0%, #3c89e2 50%, #2880e4 51%, #4390ef 95%, #527aaa 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b90cf), color-stop(50%,#3c89e2), color-stop(51%,#2880e4), color-stop(95%,#4390ef), color-stop(100%,#527aaa)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #6b90cf 0%,#3c89e2 50%,#2880e4 51%,#4390ef 95%,#527aaa 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #6b90cf 0%,#3c89e2 50%,#2880e4 51%,#4390ef 95%,#527aaa 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #6b90cf 0%,#3c89e2 50%,#2880e4 51%,#4390ef 95%,#527aaa 100%); /* IE10+ */
		background: linear-gradient(to bottom, #6b90cf 0%,#3c89e2 50%,#2880e4 51%,#4390ef 95%,#527aaa 100%); /* W3C */
	}

	.title,
	.back,
	.loginassist h1,
	.section .remoteLink a,
	#content .creleft,
	#content .cre a,
	.section h1,
	.section h2,
	.section h4,
	.content table th,
	.content table thead th,
	.content table tfoot th,
	.content table tfoot tr td,
	.section .content h2,
	.section .terms h2,
	.section .message,
	.section .unansweredquestion,
	.section .unansweredsubsquestion,
	.section .Notes a,
	.section .withhr,
	fieldset,
	fieldset legend.header,
	div.tabcontainer,
	#calendar table,
	#pagecalendar,
	#pagecalendar *,
	.section .chart table tr th,
	.section .tallchart table tr th,
	.section table tr td.fixed,
	.section .content .iconcalendar table,
	.section .content .iconcal_legend,
	.section .Notes span.notetitle,
	.section .content .formsection > legend,
	div.actionmenucontainer ul.actionmenu,
	.innernavparent .flyoutExt,
	.ExternalAccount .vendorlogo,
	.jp-no-solution
	{
		border-color: #000000;
/* 		border-color: #1B6DD1; SEH */
	}
  
	.innernavparent .flyoutprompt:focus {
		outline-color: #1B6DD1;
	}

	h1,
	.section h2,
	.section h4,
	.title h2,
	.title h4,
	dl dt,
	#alerts h3,
	span.h3,
	fieldset legend.header,
	#content h1,
	#content .storyhead,
	.section .content h2,
	.section .content table thead th,
	.section .content table tfoot th,
	.section .content table tfoot tr td,
	.section .content table tfoot tr td a,
	.section .content table tfoot tr td h2,
	.section .content table tr.header td,
	.section .content table tbody tr.footer td,
	.section .content table tr th a,
	.section .chart table tr.header,
	.section .tallchart table tr.header,
	.section .chart table tr td.group,
	.section .tallchart table tr td.group,
	.section .Notes span.notetitle,
	.section .rx h2,
	.section .rx h3,
	.section .terms h2,
	.section .content .formsection > legend,
	.section .content .PEF .prompts div.grouper,
	.section .content .PEF fieldset.reading legend,
	.section .content  table th.listSeparator,
	div.sidetab ul.sectiontabs li a span,
	a.contactcard span span.header,
	a.contactcard span.name,
	.innernavparent .innertabs .tab a,
	.innernavparent .flyout .flyoutitem,
	.innernavparent .flyoutitem.chosen:hover,
	.innernavparent .innertabs .tab:after,
	.trainstop a,
	.trainstop a:hover,
	.trainstop.now,
	#defaultForm.secondaryValidation,
	.section .content .highlight.scheduleoptions .name a
	{
/*		color: #1B6DD1;		*/	
	}


/* DEEP BLUE ------------------------------------- */
	
	.quicklinks a
	{
		background-color: #487CC4;
	}
	
/* LIGHT BLUE ------------------------------------ */

	.section .rxholder .rx,
	.section .unansweredquestion,
	.section .unansweredsubsquestion,
	.section .Notes,
	.section .content table.billing td.outstanding,
	a.contactcard 
	{
/*		background-color: #EDF2FA;	 */
		background-color: #C0E0AB;	
	}
	
	a.contactcard {
		background-image:    -moz-linear-gradient(top,#EAEFF7 0%,#D7E1EF 100%); /* FF3.6+ */
		background-image:        -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EAEFF7),color-stop(100%,#D7E1EF)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,#EAEFF7 0%,#D7E1EF 100%); /* Chrome10+,Safari5.1+ */
		background-image:      -o-linear-gradient(top,#EAEFF7 0%,#D7E1EF 100%); /* Opera 11.10+ */
		background-image:     -ms-linear-gradient(top,#EAEFF7 0%,#D7E1EF 100%); /* IE10+ */
		background-image:         linear-gradient(to bottom,#EAEFF7 0%,#D7E1EF 100%); /* W3C */
	}

	.section .content .highlight.scheduleoptions.focus,
	.section .content .highlight.scheduleoptions:hover{
		background-color: #E6F7FF;
		border-color: #B2CFF1;
	}

/* PALE BLUE ------------------------------------- */

	.section table td span.password
	{
		background-color: #d9e3f4;
	}

	.button[src*="item_"]                   /* For plus/minus/restore/edit buttons. This styling is applied */
	{                                       /* because the regular button style is too dark for the icons.  */
		background-color: #d9e3f4;
		background-position:0 -4px;         /* Assumes that buttons have the gradient background image applied */
	}
	.button[src*="item_"]:hover,
	.button[src*="item_"]:focus
	{
		background-color: #E0E8F6;
	}

	.menuontop #menu .menugroup ul,
	.menuontop #menu .menugroup div.hiddenlist,
	.menuontop #menu .keywordsearch
	{
		background-color: #EBF3F4;
		background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248,251,252,0.95)), color-stop(41%, rgba(231,243,246,0.95)), color-stop(100%,rgba(201,228,235,0.95))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(248,251,252,0.95) 0%, rgba(231,243,246,0.95) 41%, rgba(201,228,235,0.95) 100%); /* Chrome10+,Safari5.1+ */
		background:     -ms-linear-gradient(top, rgba(248,251,252,0.95) 0%, rgba(231,243,246,0.95) 41%, rgba(201,228,235,0.95) 100%); /* IE10+ */
		background:         linear-gradient(to bottom, rgba(248,251,252,0.95) 0%, rgba(231,243,246,0.95) 41%, rgba(201,228,235,0.95) 100%); /* W3C */
	}
	.menuontop #menu ul li a:hover,
	.menuontop #menu ul li a:focus
	{
		box-shadow: 0 1px 3px 0 #6d9dad;
		background-color: #fff;
		background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.13)), color-stop(42%, rgba(255,255,255,0.01)), color-stop(47%, rgba(59,161,192,0)), color-stop(68%,rgba(59,161,192,0.15)), color-stop(100%,rgba(59,161,192,0.32))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.01) 42%, rgba(59,161,192,0) 47%, rgba(59,161,192,0.15) 68%, rgba(59,161,192,0.32) 100%); /* Chrome10+,Safari5.1+ */
		background:     -ms-linear-gradient(top, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.01) 42%, rgba(59,161,192,0) 47%, rgba(59,161,192,0.15) 68%, rgba(59,161,192,0.32) 100%); /* IE10+ */
		background:         linear-gradient(to bottom, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0.01) 42%, rgba(59,161,192,0) 47%,rgba(59,161,192,0.15) 68%, rgba(59,161,192,0.32) 100%); /* W3C */
	}
	
	.line .trainrail.visited {
		background-color: #ABD6DF;
	}
	
	.jp-play-bar
	{
		background-color: #049BE7;
	}

/***************************************************/

/* THINGS THAT ARE SHADES OF BROWN *****************/

	#menu h2,
	#menu h3,
	#menu li,	
	#menu li a,
	#menu > span.header,
	#menu > span.subheader,
	#menu .button,
	#menu > h2:first-child
	{
		color: #815959;
	}

/* MEDIUM BROWN ---------------------------------- */

	#menu .button,
	#defaultFooter h2 a,
	.section .intab label.unselected,
	.section .question label.unselected,
	.section .subsquestion label.unselected,
	.section .unansweredquestion label.unselected,
	.section .unansweredsubsquestion label.unselected,
	.section .famhxtopic label.unselected,
	.section .questiongroup label.unselected,
	#CRE,
	#calendar table td.wknd,
	.section .content .iconcalendar td.wknd,
	.section .content .iconcalendar td.wknd.past,/* overrides .wknd with specificity */
	.section .content .iconcalendar td.past,
	.section .content .iconcal_legend,
	.section .intab label.unselected
	{
		background-color: #E9E3D7;	
	}
	
	.section .intab label.radio,
	.section .question label.radio,
	.section .subsquestion label.radio,
	.section .unansweredquestion label.radio,
	.section .unansweredsubsquestion label.radio,
	.section .famhxtopic label.radio,
	.section .questiongroup label.radio,
	.section canvas.graphCanvas,
	.section .intab label.radio,
	.section .question h4:first-child,
	.section .famquestion h4:first-child	
	{
		border-color: #E9E3D7;
	}
	
	html:not(.mobile)
	{
		background-color:#BE9E6F;
	}
	
/* LIGHT TAN ------------------------------------- */

	#defaultForm,
	#defaultDigiDForm,
	#defaultFooter,
	#signupFooter
	{
		background-color: #FCF9EF; /* Old browsers */
		background-image:    -moz-linear-gradient(top,#FCF9EF 0%,#FFFAED 100%); /* FF3.6+ */
		background-image:        -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FCF9EF),color-stop(100%,#FFFAED)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,#FCF9EF 0%,#FFFAED 100%); /* Chrome10+,Safari5.1+ */
		background-image:      -o-linear-gradient(top,#FCF9EF 0%,#FFFAED 100%); /* Opera 11.10+ */
		background-image:     -ms-linear-gradient(top,#FCF9EF 0%,#FFFAED 100%); /* IE10+ */
		background-image:         linear-gradient(top bottom,#FCF9EF 0%,#FFFAED 100%); /* W3C */
	}

/***************************************************/

/* THINGS THAT ARE SHADES OF YELLOW ****************/

	span.hilite,
	.section .content .iconcalendar td.today 
	{
	 	background-color: #FFFF77;
	}
	#srotext,
	#loginnotice
	{
		border-color: #FFFF77;
	}

/* PALE YELLOW ----------------------------------- */

	.notice,
	div.payplandetails div.balancenotcovered
	{
		background-color: #FFFFCC;
	}

	#main > #srotext {
		background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C */
	}

/* DARKER PALE YELLOW ---------------------------- */

	.notice
	{
		border-color: #FFFFAC;
	}
  
	.inputHighlighted,
	#wrap > #banner + .alert,
	#srotext,
	#loginnotice,
	#calendar table td.hi,
	#pagecalendar div.NoData.hover,
	#pagecalendar div.EditData.hover,
	#pagecalendar .NoData:hover,
	#pagecalendar .EditData:hover,	
	.section .content .iconcal_legend a .legenditem:hover,
	.section .content .iconcalendar a .eventitem:hover
	{
		background-color: #FFFFAC;
	}
	
/***************************************************/

/*THINGS THAT ARE SHADES OF RED*********************/

	.alert,
	.alert *,
	.helptext.alert,
	.section .content table tbody tr td.notgiven,
	.panic,
	.required:before,
	span.error
	{
		color: #F75656;
	}
	
	.alertborder
	{
/*		border-color: #F75656;  */
		border-color: #DBDBDB;
	}

/* PALE RED -------------------------------------- */

	#banner a.button,
	.button.inlinedelete
	{
		background-color: #D55757;
	}
	#banner #bannertext
	{
		color: #D55757;
	}


/***************************************************/

/*THINGS THAT ARE GREEN #1F7D0C*********************/

	a,
	input.link,
	.section table tr td.action a,
	div.payplanuptodate,
	.ptEduTitleLabel 
	{
		color: #1F7D0C;
	}
	
/*THINGS THAT ARE GREEN #47AD47*********************/

	.button.nextstep,
	.button.completeworkflow
	{
		background-color: #47AD47;
	}
/***************************************************/

/*THINGS THAT ARE BRIGHT GREEN #33C133**************/

	.button.nextstep:hover,
	.button.nextstep:focus,
	.button.completeworkflow:hover,
	.button.completeworkflow:focus
	{
		background-color: #33C133;
	}
	
/***************************************************/

/*THINGS THAT ARE PALE GREEN #D3ECAF**************/

	.messagebackgrounduser {
		background: #D3ECAF;
	}

/***************************************************/

/*THINGS THAT ARE DARK PALE GREEN #B8E07C**************/

	.messagebackgrounduser {
		border-color: #B8E07C;
	}
	
/***************************************************/

/*THINGS THAT ARE ORANGE ***************************/

	.section .chart table tr td.abnormal,
	.section .tallchart table tr td.abnormal
	{
		color: #FF6600;
	}

/***************************************************/

/*THINGS THAT ARE BLACK ****************************/

	#baselinks,
	#baselinks a,
	#footer,
	#footer a,
	.loginalert a,
	.section table tr td a,
	.section .content h4,
	.section .intab h4,
	.section .question h4,
	.section .subsquestion h4,
	.section .unansweredquestion h4,
	.section .unansweredsubsquestion h4,
	.section .intab label.radio a,
	.section .question label.radio a,
	.section .subsquestion label.radio a,
	.section .unansweredquestion label.radio a,
	.section .unansweredsubsquestion label.radio a,
	.section .famquestion h4,
	.section .unansweredfamquestion h4,
	.section .intab label,
	.section .question label,
	.section .subsquestion label,
	.section .unansweredquestion label,
	.section .unansweredsubsquestion label,
	div.tooltipDiv,
	.section .content table.iconcalendar a,
	.section .content .iconcal_legend a,
	#calendar table a,
	#calendar table td.ctrl.hi a,
	#pagecalendar div.NoData a,
	#pagecalendar div.EditData a,
	#pagecalendar div.ctrl.hover a,
	.popupInstructions,
	.popupInstructions .header,
	div.pageturner a.selected,
	div.balancenotcovered,
	.jp-no-solution a,
	.jp-no-solution
	{
		color: #000000;
	}
	
	.jplayer-controlbar,
	.jp-video,
	.jp-audio,
	.jp-jplayer
	{
		background-color: #000000;
	}

/***************************************************/

/*THINGS THAT ARE SHADES OF GRAY *******************/

	.jplayer-progress-container
	{
		background-color: #333;
	}
	
/* ----------------------------------------------- */

	#wrap,
	.section .question legend label, /* this override is needed because of the above .section .question label { color: black } */
	div#usePwd .intab label,
	.patientnote,
	.patientnote:hover
	{
		color: #363636;
	}
	
/* ----------------------------------------------- */

	.section .Notes pre,
	.helptext,
	#infoColumn #features span + span,
	.menuontop #wrap #menu .menugroup ul a,
	.menuontop #wrap #menu .menugroup .menugroup .mnutitle a,
	.menuontop #wrap #menu #KeywordSearch .header,
	a.contactcard,
	div.sidetab ul.sectiontabs li a span.subtitle,
	div.actionmenucontainer ul.actionmenu li a,
	div.actionmenucontainer ul.actionmenu li span,
	#pagecalendar .inactive,
	.trainstop
	{
		color: #555555;
	}
	
	.jp-seek-bar
	{
		background-color: #555555;
	}
	
	.section .content .iconcalendar td.has_bottom
	{
		border-bottom-color: #666;
	}
	.section .content .iconcalendar td.has_left
	{
		border-left-color: #666;
	}
	
	.section .content table tfoot tr td .inactive,
	.section .content div.listcontrol div.listsearch input.empty,
	.section h4,
	.section span.source,
	.proxymessage,
	.letterfooter,
	input.readonly,
	input.inactivefield,
	input.disabled,
	input.disabled:hover,
	.uploader div.button.disabled,
	p.disabled,
	label.disabled,
	.section .tallchart table tr td div.inlinetime,
	.section .chart table tr td div.inlinetime,
	.section .rxholder .rx .commonname,
	.fadedtext,
	.section .content .iconcalendar td.month_context .numlabel,
	#calendar table td.n,
	#calendar table td.ctrln,
	#calendar table td.wkndn,
	#hxqtnr .section .question span.comments,
	#hxqtnr .section .famquestion span.comments
	{
/*		color: #777777;  */
		color: #252525;
	}
	
	input.disabledfield {	
		border-color: #777777;
	}


/* ----------------------------------------------- */

	.popupInstructions,
	div.tooltipDiv,
	div.ttSeriesNameDiv
	{
		border-color: #999999;
	}

/* ----------------------------------------------- */
	
	.messagebackgroundprovider {
		border-color: #c0c0c0;
	}
	
/* ----------------------------------------------- */

	input.inactivefield,
	input.disabledbg,
	input.disabledfield,
	input.disabledfield.jsreq:hover,
	input.disabledfield:hover,
	.jp-volume-bar,
	#calendar table td.n,
	#calendar table td.ctrln,
	#calendar table td.wkndn,
	#pagecalendar .weekrow div
	{
		background-color: #CCCCCC;
	}

	ul.sectiontabs li a:focus span,
	fieldset.questiongroup
	{
		border-color: #CCCCCC;
	}

	.section .chart table tr td.scroll,
	.section .tallchart table tr td.scroll
	{
		border-color: #CCCCCC !important;
	}
	
	.line .trainrail
	{
		border-color: #CECECE;
	}

/* ----------------------------------------------- */

	input,
	select,
	textarea,
	.loginalert,
	.confMessage,
	#confMesg2,
	#wrap a.navbar,
	.terms,
	#defaultColumn .item,
	#infoColumn,
	#menu .mnutitle,
	#menu ul,
	iframe.graphFrame,
	.section div.cgImgContainer,
	.section canvas.graphCanvas,
	.section .Notes,
	.section .rxholder .rx,
	.section .content .highlight,
	.extlink-available,
	.extlink-active,
	p.alert.ques,
	.content table thead th,
	.content table tfoot th,
	.content table tfoot tr td,
	.section table tr.header th,
	.menuontop #KeywordSearch input.textInput,
	.section .content .PEF .prompts div.header,
	.section .content .PEF fieldset.reading legend,
	.section .chart table tbody tr:nth-last-child(2),
	.section .chart table tbody tr.header:nth-of-type(n + 2),
	a.contactcard,
	div.actionmenucontainer ul.actionmenu li.actionmenuheader,
	div.payplanheader,
	div.payplandetails div.balancenotcovered,
	.echeckincomplete .codewrapper.details,
	.ptEduTitleLabel,
	#captchaForm .formsection
	{
		border-color: #DBDBDB;
	}
	
/* ----------------------------------------------- */

	.messagebackgroundprovider {
		background: #dfdfdf;
	}

/* ----------------------------------------------- */
	
	div.sidetab ul.sectiontabs li
	{
		border-color: #E7E7E7;
		border-right-color: #D5D5D5;
	}
	
	#alerts,
	#alerts .loginalert > a,
	.content table tr td,
	.content table tbody th,
	.section table td,
	fieldset div.row span.col,
	fieldset div.row span.btnColumn,
	.section .content .PEF .prompts div.grouper,
	.section .content .PEF fieldset.reading .grouper,
	.section .content .PEF .prompt,
	.section .content .PEF div.reading,
	div.sidetab
	{
		border-color: #e7e7e7;
	}
	
	div.sidetab ul.sectiontabs li {
		background-color: #EBEBEB; /* Old browsers */
		background-image: none;  /* clears out the blue li background in case all the following fail */
		background-image: -moz-linear-gradient(top,  #F8F8F8 0%, #EBEBEB 100%); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#EBEBEB)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,  #F8F8F8 0%,#EBEBEB 100%); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(top,  #F8F8F8 0%,#EBEBEB 100%); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(top,  #F8F8F8 0%,#EBEBEB 100%); /* IE10+ */
		background-image: linear-gradient(to bottom,  #F8F8F8 0%,#EBEBEB 100%); /* W3C */
	}
	
	input.inactivefield:hover,
	.jp-no-solution
	{
		background-color: #EEEEEE;
	}
	
	
	.section .content table tr  /* td.colorband */
	{
/*		background-color: #f2f2f2;
		border-top-color: #f2f2f2; seh */
		background-color: #DFF3C5;
		border-top-color: #FFFFFF;
	}

/* SEH - Fix email and test result tables */	
	tfoot.nav, td.colorband, tr.listpageinfo, tr.listpagebar
	{
		background-color: #FFFFFF !important;
		border-top-color: #FFFFFF !important;
	}
	
	.content table th,
	.content table tfoot tr td,
	.section table th,
	.section table colgroup.header,
	.section .tallchart > table > tbody > tr > td:first-child.odd,
	.section .chart table td.action,
	.section .content .PEF .prompts div.header,
	.section .content .PEF fieldset.reading legend,
	.chart .tableOverlay table tr.header th,
	.tallchart .tableOverlay table tr.header th,
	div.payplanheader,
	.stops .future .trainstation
	{
/*		background-color:#f5f5f5; */
	}
	
	textarea.readonly,
	.section .remoteLink a,
	.section .chart table tr.odd,
	.section .chart table tr.odd td,
	.section .tallchart table tr.odd,
	.section .tallchart table tr.odd td,
	#components tr.odd,
	#components tr.odd td,
	div .section .addenda,
	.section .content table.visitSummaryTable tr.odd,
	.section .content table.visitSummaryTable tr.odd td,
	.section .content .iconcalendar td,
	div.seriessel table tr.odd,
	div.seriessel table tr.odd td,
	.content table tr.preview td,
	.content table tr.clickable td,
	.content table tr.clickable td.multideptband,
	.content table tbody tr.clickable th
	{
		background-color: #F9F9F9;
	}
	
	#alerts > .loginalert,
	#alerts > .loginalert .loginalert
	{
/* SEH - Chaged colors to white */	
		background-color: #FFFFFF;
		background-image:    -moz-linear-gradient(top, #FFFFFF 70%, #FFFFFF 100%); /* FF3.6+ */
		background-image:        -webkit-gradient(linear, left top, left bottom, color-stop(70%, #FFFFFF), color-stop(100%, #FFFFFF)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top, #FFFFFF 70%, #FFFFFF 100%); /* Chrome10+,Safari5.1+ */
		background-image:      -o-linear-gradient(top, #FFFFFF 70%, #FFFFFF 100%); /* Opera 11.10+ */
		background-image:     -ms-linear-gradient(top, #FFFFFF 70%, #FFFFFF 100%); /* IE10+ */
		background-image:         linear-gradient(top bottom, #FFFFFF 70%, #FFFFFF 100%); /* W3C */
	}
	  
	.section .content table tbody tr.header td,
	.section .content table tbody tr.footer td,
	.section .chart table tr td.group,
	.section .content .PEF .prompts div.grouper,
	.section .content .PEF fieldset.reading .grouper
	{
		background-color: #FBFBFB;
	}

/***************************************************/

/*THINGS THAT ARE WHITE ****************************/

	.terms,
	.section .content .highlight,
	.section.extlink > .extlink-available,
	input,
	select,
	textarea,
	div.listpagelinks div:hover,
	div.tooltipDiv,
	.chart table tr,
	.chart table tr td,
	.tallchart table tr,
	.tallchart table tr td,
	#components tr,
	#components tr td,
	.section .content table.visitSummaryTable tr ,
	.section .content table.visitSummaryTable tr td,
	.popupInstructions,
	div.seriessel tr,
	div.seriessel tr td,
	#pagecalendar div.NoData,
	#pagecalendar div.EditData,
	#pagecalendar div.ctrl.hover,
	#CRE,
	#calendar table td,
	.lightboxContainer,
	.lb_content.template,
	div.sidetab,
	.innernavparent .flyout,
	.innernavparent .flyoutitem.chosen:hover,
	.jp-volume-bar-value,
	.jp-seeking-bg 
	{
		background-color: #FFFFFF;
	}
	
	div.sidetab ul.sectiontabs li.selected {
		background-color: #FFFFFF;
		background-image: none;
	}
	
	#banner h2,
	.button,
	.button:hover,
	.quicklinks a,
	.quicklinks .h3,
	ul.sectiontabs li a,
	.tc #footer,
	.tc #footer a,
	.accesscheck #footer,
	.accesscheck #footer a,
	.oe #footer,
	.oe #footer a,
	.oesignup #footer,
	.oesignup #footer a,
	.publicform #footer,
	.publicform #footer a,
	.stdfile #footer,
	.stdfile #footer a,
	#calendar table td.ctrl a,
	#pagecalendar .ctrlrow,
	#pagecalendar .ctrlrow a,
	#pagecalendar .daysrow,
	.section .content .iconcalendar a.nav,
	.section table a.button,
	.section .content .iconcalendar th,
	.menuontop ul#proxyTabs li[class] a,
	.titlebar,
	.innernavparent .flyoutprompt,
	.innernavparent .flyoutitem:hover,
	div.payplanoverdue,
	div.payplanautooverdue,
	.jp-current-time
	{
		color: #FFFFFF;
	}
	
	div.actionmenucontainer ul.actionmenu li.actionmenuitem:hover {
		background-color: #BFDDFF;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #FFFFFF),color-stop(100%,#BFDDFF));
		background-image: -webkit-linear-gradient(top,#FFFFFF 0%,#BFDDFF 100%);
		background-image: -ms-linear-gradient(top,#FFFFFF 0%,#BFDDFF 100%);
		background-image: linear-gradient(to bottom,#FFFFFF 0%,#BFDDFF 100%);
	}
	
	div.actionmenucontainer ul.actionmenu {
		background-color: #FFFFFF;
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(255,255,255,0.95)),color-stop(100%,rgba(191,221,255,0.95)));
		background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.95) 0%,rgba(191,221,255,0.95) 100%);
		background-image: -ms-linear-gradient(top,rgba(255,255,255,0.95) 0%,rgba(191,221,255,0.95) 100%);
		background-image: linear-gradient(to bottom,rgba(255,255,255,0.95) 0%,rgba(191,221,255,0.95) 100%);
	}

/*	#infoColumn,
	#main,
	#datatile,
	.popupInstructions,
	.subsquestion,
	.questiongroup,
	.lightboxContainer 
	{
		background-color: #FFFFFF;
		background-image:    -moz-linear-gradient(top, #FFFFFF 70%, #F4F4F4 100%); /* FF3.6+ */
/*		background-image:        -webkit-gradient(linear, left top, left bottom, color-stop(70%, #FFFFFF), color-stop(100%, #F4F4F4)); /* Chrome,Safari4+ */
/*		background-image: -webkit-linear-gradient(top, #FFFFFF 70%, #F4F4F4 100%); /* Chrome10+,Safari5.1+ */
/*		background-image:      -o-linear-gradient(top, #FFFFFF 70%, #F4F4F4 100%); /* Opera 11.10+ */
/*		background-image:     -ms-linear-gradient(top, #FFFFFF 70%, #F4F4F4 100%); /* IE10+ */
/*		background-image:         linear-gradient(top bottom, #FFFFFF 70%, #F4F4F4 100%); /* W3C */
/*	} 
*/
	
	div.actionmenucontainer ul.actionmenu {
		background-color: #FFFFFF;
		background-image:        -webkit-gradient(linear,left top,left bottom,color-stop(0%, rgba(255,255,255,0.95)),color-stop(100%,rgba(191,221,255,0.95))); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.95) 0%,rgba(191,221,255,0.95) 100%); /* Chrome10+,Safari5.1+ */
		background-image:     -ms-linear-gradient(top,rgba(255,255,255,0.95) 0%,rgba(191,221,255,0.95) 100%); /* IE10+ */
		background-image:         linear-gradient(top bottom,rgba(255,255,255,0.95) 0%,rgba(191,221,255,0.95) 100%); /* W3C */
	}
	
	textarea.filedescription
	{
		scrollbar-face-color:#fff;
		scrollbar-arrow-color:#fff;
		scrollbar-highlight-color:#fff;
		scrollbar-shadow-color:#fff;
		scrollbar-3dlight-color:#fff;
		scrollbar-darkshadow-color:#fff;
		scrollbar-track-color:#fff;
	}
	
/***************************************************/


/* FONT INFORMATION ********************************/
	body
	{
		font-size: 80%;     /* Set to 66% for fonts like Arial,Trebuchet,Tahoma,Verdana,etc. */
	}
	
	ul#proxyTabs a,
	ul#proxyTabs .moresuffix
	{
		font-family: "MV Boli",sans-serif;
	}
	
/*	errorpage h1,
	.title h1,
	#bannertext 
	{
		font-family: Rockwell,'Palatino Linotype',Georgia,serif;
		font-weight: normal;
	}
seh */	
	
/*	#wrap,
	#datatile,
	.datatile .HSQnr #main,
	input.button,
	input.link[type=submit],
	#calendar td,
	.section h1,
	.section h2,
	.section .content h2
	{
		font-family: Calibri,Arial,sans-serif;
	}
*/	

/*	select,
	input[type=text],
	textarea,
	.section .Notes textarea
	{
		font-family: Segoe UI,Calibri,Arial,sans-serif;
	}
seh */

/***************************************************/


/* HOVER INFORMATION *******************************/

/*	a:hover,
	.section .content table a:hover,
	.nolinelist:hover,
	.nolinelist:active,
	.section table tr td.action a:hover,
	.ptEduTitleLabel:hover
	{
		color:#289F0F;
	}
	}  SEH*/
	
	.back a.button:hover,
	.section table a.button:hover
	{
		color: #0D682D;
/* SEH		color: #ffffff; */
	}
	
	#calendar table thead td.hi,
	#calendar table td#calcancel.hi
	{
		background-color: #ffffff;
	}
	
	dt a:hover
	{
		color: inherit;
	}
	
	div#innertabs > div > a.selected:hover 
	{
		color: inherit;
	}
	
	.button:hover,
	.button:focus
	{
		background-color:#f3efe8;
	}
	
	a.button:hover,
	a.button:focus,
	input.button:hover,
	input.button:focus,
	.uploader div.hover,
	.uploader div.focus
	{
/*	    background-color:#1B7CF2; */
	    background-color:#A4E27B;
	}
	
	#banner a.button:hover,
	#banner a.button:focus,
	.button.inlinedelete:hover,
	.button.inlinedelete:focus
	{
		background-color:#EF5252;
	}
	
	.button.disabled,
	.button.disabled:hover,
	.uploader div.button.disabled
	{
		background-color:#ddd;
	}

	#banner a.button:hover,
	#banner a.button:focus
	{
		background-color:#E16060;
	}
	
	.section .intab label.selected,
	.section .question label.selected,
	.section .intab .label.radio.selected:hover,
	.section .question .label.radio.selected:hover,
	.section .subsquestion label.selected,
	.section .subsquestion .label.radio.selected:hover,
	.section .unansweredquestion label.selected,
	.section .unansweredquestion .label.radio.selected:hover,
	.section .unansweredsubsquestion label.selected,
	.section .unansweredsubsquestion .label.radio.selected:hover,
	.section .famhxtopic label.selected,
	.section .famhxtopic .label.radio.selected:hover,
	.section .questiongroup label.selected,
	.section .questiongroup .label.radio.selected:hover
	{
		background-color: #d9e3f4;
	}
	
	.section .content table tr.hover td,
	.section .content div.hover,
	.section .intab .buttonanchor:hover,
	.section .question .buttonanchor:hover,
	table tr td.selected,
	.loginalert a:hover
	{
		color: black;
		cursor: pointer;
	}
	
	.button:focus,
	.quicklinks a:focus,
	#defaultFooter h1 a:focus,
	#signupFooter h1 a:focus,
	.popupInstructions a:focus,
	img.focus,
	.messagebox .buttoncontainer a:focus,
	.uploader div.button.focus {			
		outline: 1px dotted #000000;
	}
	
	input.button::-moz-focus-inner
	{
		border:0; /* prevent double outline in Firefox */
	}
	
	#alerts > .loginalert > a:hover,
	#alerts > .loginalert > a:focus,
	#alerts > .loginalert .loginalert:hover > a.head,
	#alerts > .loginalert .loginalert:hover > a.head + .body,
	#alerts > .loginalert .loginalert > a.head:focus,
	#alerts > .loginalert .loginalert > a.head:focus + .body,
	.section .content table tr.hover td,
	.section .content div.hover,
	table tr td.selected
	{
/*		background-color: #e0e8f6;  seh */
		background-color: #DFF3C5;
	}
	
	.quicklinks a:hover,
	.quicklinks a:focus,
	.section .remoteLink a:hover
	{
		background-color: #568FDC;
		text-shadow: 0 1px 7px #FFFFFF;
		color: #ffffff;
	}

	.section td.action.scroll a:hover
	{
		color: black; /* Another horrible IE9 rendering bug. When modifying the patient entered flowsheet edit/delete links on hover (e.g. making them blue), page layout is affected. This only happens when the links are inside a DIV marked as overflow-x: auto; We don't want to remove the overflow, so we simply keep the color black on hover :) */
	}
	
	a.contactcard:hover {
		color: #555555;
		background-color: #FFFFFF;
		background-image:    -moz-linear-gradient(top,#FFFFFF 0%,#DCE5F2 100%); /* FF3.6+ */
		background-image:        -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF),color-stop(100%,#DCE5F2)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,#FFFFFF 0%,#DCE5F2 100%); /* Chrome10+,Safari5.1+ */
		background-image:      -o-linear-gradient(top,#FFFFFF 0%,#DCE5F2 100%); /* Opera 11.10+ */
		background-image:     -ms-linear-gradient(top,#FFFFFF 0%,#DCE5F2 100%); /* IE10+ */
		background-image:         linear-gradient(top bottom,#FFFFFF 0%,#DCE5F2 100%); /* W3C */
	}
	
	div.actionmenucontainer ul.actionmenu li.actionmenuitem:hover {
		background-color: #BFDDFF;
		background-image:        -webkit-gradient(linear,left top,left bottom,color-stop(0%, #FFFFFF),color-stop(100%,#BFDDFF)); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(top,#FFFFFF 0%,#BFDDFF 100%); /* Chrome10+,Safari5.1+ */
		background-image:     -ms-linear-gradient(top,#FFFFFF 0%,#BFDDFF 100%); /* IE10+ */
		background-image:         linear-gradient(top bottom,#FFFFFF 0%,#BFDDFF 100%); /* W3C */	
	}

	/* ------------------ kp revisions ---------------------*/

body {color:#000000;}

a {color:#003399;}
a:visited {color:#852020;}

.alert,
	.alert *,
	.section .content table tbody tr td.notgiven,
	.panic
	{
	font-size:13px; font-family:Verdana; font-weight:bold; line-height:17px; color:#b70e1e;
	}
/* calendar colors */
#calendar {background-color : #C7E1F4;}
#calendar table {border : 1px solid #4588CA;background-color : #4588CA;}
#calendar table td {background-color : #C7E1F4;}
#calendar table td.wknd, #calendar table td.wkndn {background-color : #E8F1F7;}
#calendar table td.today {background-color : #77ABE5;}
#calendar table td.hdr {background-color : #4588CA;}