/*  inbox list table */
.wpsPortletBody .wppDataTable4col{margin:10px 0 0 15px;}
.wpsPortletBody .wppDataTable4col .headerStyle{height:33px;background-color: #E3EBD6;color:#254519;padding:0px 0 0 15px;border-right:2px solid #D5E2C6;border-left:0px;border-bottom:0px;border-top:0px;}
.wpsPortletBody .wppDataTable4col .headerStyle div{font-weight:bold;font-size: 1em;}
.wpsPortletBody .wppDataTable4col td.firstCol{border-bottom:1px solid #e7efdf;border-right: 2px solid #e7efdf;padding:15px 15px 18px 15px;text-align:center;}
.wpsPortletBody .wppDataTable4col td.secCol{border-bottom:1px solid #e7efdf;border-right: 2px solid #e7efdf;padding:15px 0px 18px 15px;}
.wpsPortletBody .wppDataTable4col td.thirdCol{border-bottom:1px solid #e7efdf;border-right: 2px solid #e7efdf;padding:15px 0px 18px 15px;}
.wpsPortletBody .wppDataTable4col td.fourthCol{border-bottom:1px solid #e7efdf;padding:15px 0px 18px 15px;}

/* buttons */
.wpsPortletBody .removeLinkDataTable{font-size:0;display:block;line-height:0;border:none;height:22px;width:80px;float:left;	text-indent:-999px;	background:transparent url(./images/btn_remove.gif) no-repeat scroll left top;}
.wpsPortletBody .removeLinkDataTable:hover{cursor:pointer;background:transparent url(./images/btn_remove.gif) no-repeat scroll left -22px;}
.wpsPortletBody .removehover{cursor:pointer;background:transparent url(./images/btn_remove.gif) no-repeat scroll left -22px;}

.wpsPortletBody .refreshLinkDataTable{font-size:0;display:block;line-height:0;border:none;height:22px;width:80px;float:left;	text-indent:-999px;background:transparent url(./images/btn_refresh.gif) no-repeat scroll left top; margin-left:6px;}
.wpsPortletBody .refreshLinkDataTable:hover{cursor:pointer;background:transparent url(./images/btn_refresh.gif) no-repeat scroll left -22px; margin-left:6px;}

.wpsPortletBody .replyLinkDataTable{font-size:0;display:block;line-height:0;margin-left:6px;border:none;height:22px;width:80px;	float:left;	text-indent:-999px;	background:transparent url(./images/btn_reply.gif) no-repeat scroll left top;}
.wpsPortletBody .replyLinkDataTable:hover{cursor:pointer;background:transparent url(./images/btn_reply.gif) no-repeat scroll left -22px;}
.wpsPortletBody .replyhover{cursor:pointer;background:transparent url(./images/btn_reply.gif) no-repeat scroll left -22px;}

.wpsPortletBody .sendLinkDataTable{font-size:0;display:block;line-height:0;border:none;height:22px;width:65px;float:left; text-indent:-999px;	background:transparent url(./images/btn_send.gif) no-repeat scroll left top;}
.wpsPortletBody .sendLinkDataTable:hover{cursor:pointer;background:transparent url(./images/btn_send.gif) no-repeat scroll left -22px;}
.wpsPortletBody .sendhover{cursor:pointer;background:transparent url(./images/btn_send.gif) no-repeat scroll left -22px;}

.wpsPortletBody .cancelLinkDataTable{font-size:0;display:block;line-height:0;border:none;height:22px;width:80px;float:left;	text-indent:-999px;	background:transparent url(./images/btn_cancel.gif) no-repeat scroll left top;}
.wpsPortletBody .cancelLinkDataTable:hover{cursor:pointer;background:transparent url(./images/btn_cancel.gif) no-repeat scroll left -22px;}
.wpsPortletBody .cancelhover{cursor:pointer;background:transparent url(./images/btn_cancel.gif) no-repeat scroll left -22px;}


.wpsPortletBody .removeLinkDataTableDisable{font-size:0;display:block;line-height:0;border:none;height:22px;width:80px;float:left;	text-indent:-999px;	background:transparent url(./images/btn_remove.gif) no-repeat scroll left -44px;}
.wpsPortletBody .replyLinkDataTableDisable{margin-left:6px;border:none;height:22px;width:80px;	float:left;	text-indent:-999px;	background:transparent url(./images/btn_reply.gif) no-repeat scroll left -44px;}

.cancelLinkTextLightBox{ padding-right:20px}


/* List Message details*/	
.folderActions {margin-left:15px;}
.folderUnreadMessage{font-weight:bold;}
.folderReadMessage{font-weight:normal;}
.folderMessageSubject{text-decoration:underline;}
.folderSuccessfulSentMessage {margin:30px 30px 15px 15px;padding:15px 15px 20px 20px;border:1px solid #d6e9c0;color:#3c5725;	background-color:#eBf4da;font-size:13pt;}
.folderSuccessfulSentMessage h1 {color:#3c5725;padding-bottom:9px;font-weight:bold;font-size:13pt;}
.folderSuccessfulSentMessage .folderSuccessfulSentMessage_contentLeft{float:left;margin-right:15px;height:100px;}
.folderErrorMessage{	margin:30px 30px 15px 15px;	padding:15px 15px 20px 0px;	color:#b70e1e;font-size:13pt;}
.folderErrorMessage .folderErrorMessageLeft{float:left;height:50px;}
.folderErrorMessage .folderErrorMessageRight{	margin-left:30px;}

/*	Sent Styles	 */
.messageDetailActions .removeLinkDataTable{padding-right:6px;}
.messageDetailActions{float:left;margin-top:37px;width:200px;}
.backAction{padding:15px 0px 15px 0px;_padding-top:0px;}

/*	Message details */
.messageDetailActions .removeLinkDataTable{padding-right:6px;}
.backAction{padding:11px 0px 15px 0px;_padding-top:0px;}
.backActionBottom{padding:15px 0px 15px 10px;}
.messageDetailHorizontalLine{margin-top:10px;width:700px;border-top:1px solid #dcdcdc;}
.messageDetailHorizontalLineDash{width:695px;border-top:1px dashed #dcdcdc;	}
.messageDetailHorizontalLineDashOriginalMessage{	text-align:center;margin-top:-10px;width:120px;background-color:#ffffff;margin-left:auto;margin-right:auto;}
.messageDetailAttachments{padding-top:15px;}
.messageDetailAttachmentsLeft, .replyAttachmentsLeft{float:left;}
.messageDetailAttachmentsRight, .replyAttachmentsRight{float:left;margin-left:10px;}
.replyAttachmentsReply {float:left}
.messageDetailMarginLeft, .replyMarginLeft{margin-left:16px;text-align:left;}
.messageDetailMainContent{margin-left:10px}
.replyMainContent{margin-left:5px;}
.messageDetailBodyMessage{padding:20px 40px 30px 20px; _padding-top:0px;}
.messageDetailMessageDetail, .replyMessageDetail{padding-left:10px; }
.messageDetailHorizontalLineBelowAttachments{margin-top:20px}

.inboxActions{margin-left:15px}
.charactersRemaining{margin-top:15px;margin-bottom:5px;margin-left:2px;}
.replyTextArea{width:665px;margin-bottom:30px;margin-left:1px;}
.replyBodyContainerLeft{margin-left:10px}
.replyMainContent{padding-top:0px;}
.replyHorizontalBottom{}
.replayBackActionBottom{margin-top:21px;padding-left:10px; }
.replyAttachments{padding-top:15px}
.replyOriginalMessageContent{padding:30px 13px 0px 13px;}
.replyActions{padding-bottom:29px;}
.charactersRemaining .charRemainingADA{display:none;}

.tableContentContainer{margin-top:5px}
.tableContentMessageDetail_notop{border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;padding-bottom:30px}
.tableContentMessageDetail{ border:1px solid #dcdcdc; width:695px;padding-bottom:20px;}
.tableContentReplyView{padding-top:20px}

/* Empty message  */
div.mcEmptyMessage{margin:0px 29px 0px 15px; text-align:center; padding:10px 0px; border-bottom:1px solid #e7efdf;}


/* light box */
.buttonsLightBoxPosition{float: right;margin-top:75px}
.cancelLinkTextLightBox{padding-right:20px}
.textLightBoxPosition{text-align:left}

.removeLinkLightBox{cursor:pointer;font-size:0;display:block;line-height:0;border:none;height:22px;width:80px;float:left; text-indent:-999px;	background:transparent url(./images/btn_remove.gif) no-repeat scroll left top;}
.removeLinkLightBox:hover{cursor:pointer;background:transparent url(./images/btn_remove.gif) no-repeat scroll left -22px;}
.lightBoxCancelLink{float:left;margin-right:20px;padding-top:2px;}

/* Error message css.  The theme contains most of the CSS necessary to display error and success messages, 
   however, a little tweeking was necessary to get it just right inside our portlet
*/
div.wppSuccessMessage,div.wppInterruptHard,div.wppInterruptSoft, div.wppErrorInPortlet{margin-right:29px;min-height:40px;height:auto!important;}
div.wppSuccessMessage p{padding-top:5px}
div.wppSuccessMessage h4{font-weight:bold;}
div.mcErrorMessage{min-height:21px;padding-right:10px;margin:0px 19px 30px 20px;padding-left:33px;background:transparent url(./images/error_message.gif) no-repeat scroll left top;}
div.mcErrorMessage h4{font-weight:bold; color:#B6101E;}
div.wppErrorInPortlet{min-height:21px;padding-right:10px;margin:0px 19px 30px 20px;padding-left:33px;background:transparent url(./images/error.gif) no-repeat scroll left top;}


div.mcPrinterFriendly{float:right}
div.wppPageTool {margin-right:20px}

.wpsPortletBody .wppDataTable4col{border-collapse:collapse!important;}
.wpsPortletBody .wppDataTable4col .headerStyle div{height:20px}

.wpsPortletBody .mcJSFborderColumnFix{width:712px;overflow: hidden;}

img.mc_external{ margin: 0 0 -4px 3px;}