/* used in email your doctor, cfe 332, the main screen. Formats the make unavailable to family members info. */

.confMessage {margin-top:12px; width:260px;}
.confMessage label.radio {width:100%; margin-right:0}
.section label.radio img {display:none}
.section .content p#progbar {display:none}

/* override class "clearlabel" being applied to the "Message" label */
div#medadviceform.section div.content label.clearlabel {
	display: block !important;
/*	font-size: 13px !important;  */
	line-height: 17px !important;
	margin: 0 !important;  /* not sure about this one */
	padding: 0 2% 0 0 !important;
	position: relative !important;
	text-align: left !important;
	width: auto !important;
}

/* Widen subject and message box to fill the tile */
div.content input#subject.fadedtext,
div.content textarea#message.fadedtext {
	width: 70%;
}

/* Prevent KP ULBULLET.CSS from affecting a MyChart UL that is adversly being affected */
div#confMesg2 fieldset.clearfieldset.toplabel ul li {text-indent: 0;}