/* Do not display the error text */
div#medadviceform.section div.content span#subjecterror.helptext h3.alert img,
div#medadviceform.section div.content span#messageerror.helptext h3.alert img {
	display: none !important;
}

/* Move the counter below the subject */
div#medadviceform.section div.content span#subjecterror.helptext {
	display: block !important;
}

/* Prevent the border of the input box from changeing because of an error */
div#medadviceform.section div.content input#subject.fadedtext,
div#medadviceform.section div.content textarea#message.fadedtext {
	border-style: inset !important;
}