/* Remove shadow around file instructions */
div.uploader div#iframeinfodiv div#popupparentdiv.popupiconcontainer div#popupparentdiv_popupInstructions.popupInstructions {
	box-shadow: none !important;
}

/* Expand the size of the clickable button area for image attachments */
#iframeMEDADVICE_ATTACHMENTS {
	height: 32px !important;
	width: 74px !important;
}