/* sets width of input to 100% */

input.radio {width:auto}

/* Fix Message Box Fluxuation in Size
input {width:496px}
textarea {width:496px} */
/* input {width:71%}
textarea {width:73%}
padding:0; */

div#confMesg2 label input {width:auto;vertical-align: -2px;}
div#confMesg2 ul {list-style-type:none;}

/* Set iframe size for browse button to be the same size as the browse button. */
iframe#iframeMESSAGELIST_ATTACHMENTS.fileselector {
	width: 80px !important;
	height: 28px !important;
}