/* for 'inline' Q and A type of Help */
.subjectPicker {
	background: #e5f4f7;
	width: 700px !important;
	margin: 30px 5px;
}

.subjectPicker select {
	margin: 0px 10px 0px;
}

.subjectPicker a {
	text-align: right;
}

.subjectPicker .contentCollapsed {
	padding: 18px 15px 15px;
	display:block;
}


.subjectPicker .expandedTable{
	margin:3px 0 0 0;
	padding:15px 20px 25px;
	background-color:#d4efe8
}

.subjectPicker .missingListHeader{
	font-weight:bold;
	color:#000;
}

.subjectPicker .contentExpanded{
    padding: 18px 15px 25px;
    display:block;
}

.subjectPicker .spLabel{
	vertical-align:middle;
}

.helpIQA h3 {
	color: red;
}