<html>
<head>
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="main-wrap" class="main-wrap">
        <h2 class="main-title">Ticket review reports</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#agent-review-wrap">Agents reports</a></li>
            <li><a data-toggle="tab" href="#reviewer-review-wrap">Reviewers reports</a></li>
        </ul>
        <div class="tab-content">
            <div id="agent-review-wrap" class="tab-pane fade in active">
                <div id="agent-vue-app">
                    <!-- Agent vue app start -->
                    <div class="selector-title">Agent selector</div>
                    <select class="form-control" v-model="selectedAgent">
                        <option selected="selected" value="">Select an agent..</option>
                        <option v-bind:value="agent" v-for="agent in agents">{{agent}}</option>
                    </select>
                    <div class="selector-title">Range selector</div>
                    <select class="form-control" v-model="reportRange.type">
                        <option selected="selected" value="7">Last 7 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="custom">Custom range</option>
                    </select>
                    <div v-if="reportRange.type == 'custom'">
                        <div class="selector-title">Custom range</div>
                        <div>Date from
                            <input v-model="reportRange.from" type="date"> To
                            <input v-model="reportRange.to" type="date"></div>
                    </div>


                    <div v-if="selectedAgent && reportRange.from && reportRange.to">
                        <div class="report-range-title">Report for {{selectedAgent}} from {{reportRange.from}} to {{reportRange.to}}</div>
                        <div class="report-section-title">Review summary</div>
                        <div class="total-message">Total: {{result.total}}</div>
                        <table class="table table-striped numeric">
                            <tr><td>Bad tickets -> Product</td><td>{{result.badTickets.product}}</td></tr>
                            <tr><td>Bad tickets -> Agent's Service</td><td>{{result.badTickets.agentService}}</td></tr>
                            <tr><td>Bad tickets -> User Error</td><td>{{result.badTickets.userError}}</td></tr>
                            <tr><td>Bad tickets -> Total</td><td>{{result.badTickets.total}}</td></tr>
                            <tr><td>Well Done</td><td>{{result.wellDoneCount}}</td></tr>
                        </table>
                        <div class="report-section-title">Common mistakes</div>
                        <div class="total-message">Total: {{result.commonMistakes.length}}</div>
                        <table class="table table-striped numeric">
                            <tr v-for="item in result.commonMistakes">
                                <td>{{ item.mistake }}:</td><td>{{ item.count }}</td>
                            </tr>
                        </table>
                        <div class="report-section-title">Comments</div>
                        <div class="total-message">Total: {{result.totalComments}}</div>
                        <table class="table table-striped">
                            <tr v-for="item in result.comments">
                                <td>{{ item.ticketId }}</td><td>{{ item.comment }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- Agent vue app end -->
                </div>
            </div>
            <div id="reviewer-review-wrap" class="tab-pane fade">
                <div id="reviewer-vue-app">
                    <!-- Reviewer vue app start -->
                    <div class="selector-title">Reviewer selector</div>
                    <select class="form-control" v-model="reviewer">
                        <option selected="selected" value="">Select a reviewer..</option>
                        <option v-bind:value="reviewer" v-for="reviewer in reviewers">{{reviewer}}</option>
                    </select>
                    <div class="selector-title">Range selector</div>
                    <select class="form-control" v-model="reportRange.type">
                        <option selected="selected" value="7">Last 7 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="custom">Custom range</option>
                    </select>
                    <div v-if="reportRange.type == 'custom'">
                        <div class="selector-title">Custom range</div>
                        <div>Date from
                            <input v-model="reportRange.from" type="date"> To
                            <input v-model="reportRange.to" type="date"></div>
                    </div>
                    <div v-if="reviewer && reportRange.from && reportRange.to">
                        <div class="report-range-title">Report for {{reviewer}} from {{reportRange.from}} to {{reportRange.to}}</div>
                        <div class="report-section-title">Report summary</div>
                        <table class="table">
                            <tr><th>Total reviews</th><th>Total time</th><th>Average time per review</th></tr>
                            <tr><td>{{result.totalReviews}}</td><td>{{result.totalTime}}</td><td>{{result.averageTimePerReview}}</td></tr>
                        </table>
                        <div class="report-section-title">Reviews by agents</div>
                        <table class="table table-striped">
                            <tr>
                                <th>Agent</th>
                                <th>Count</th>
                                <th>Total time</th>
                                <th>Average time</th>
                            </tr>
                            <tr v-for="item in result.reviewsByAgents">
                                <td>{{item.agent}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.time}}</td>
                                <td>{{item.averageTime}}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- Reviewer vue app end -->
                </div>
            </div>
        </div>
    </div>
    <div id="authorize-div">
        <p>Authorize access to Google Sheets API</p>
        <button id="authorize-button" onclick="handleAuthClick(event)">Authorize</button>
    </div>
    <div id="main-loader">
        <div class="c-three-dots-loader"></div>
    </div>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>



